/* profile page */
.myAccountTabArea {
  margin: 80px 0;
}
ul.myAccountTab {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  display: table;
  width: 100%;
}
ul.myAccountTab li {
  float: left;
  font-family: "Cinzel", serif;
  font-size: 13px;
  color: #000;
  padding: 16px 49px;
  border-left: 1px solid #eb6469;
  border-bottom: 1px solid #eb6469;
  border-top: 1px solid #eb6469;
  height: 55px;
  cursor: pointer;
  width: 25%;
  text-align: center;
}
ul.myAccountTab li:last-child {
  border-right: 1px solid #eb6469;
}
ul.myAccountTab li:first-child {
  padding-top: 18px;
}
ul.myAccountTab li.active {
  background: #eb6469;
  color: #fff;
  position: relative;
  cursor: pointer;
}
span.downArrow2 {
  position: absolute;
  bottom: -16px;
  display: none;
  width: 42px;
  height: 21px;
  left: 50%;
  margin-left: -21px;
}
ul.myAccountTab li.active span.downArrow2 {
  display: block;
}
.myAccountTabContent {
  background: #f5faff;
  clear: both;
  overflow: hidden;
  padding: 0px;
}
.yourProfileTab,
.subscriptionTab,
.shippingAddTab,
.bomTab {
  display: none;
  min-height: 400px;
}

.yourProfileTab.active,
.subscriptionTab.active,
.shippingAddTab.active,
.bomTab.active {
  display: block;
}

.rounderProfilePic {
  max-width: 100px;
  border: 2px solid #fff;
  border-radius: 50%;
  padding: 2px;
  box-shadow: 2px 3px 10px rgba(0, 0, 0, 0.3);
  display: table;
  margin: 0 auto;
}
.rounderProfilePic img {
  max-width: 100%;
}
p.accountName {
  font-size: 16px;
  color: #000;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  padding-top: 14px;
  text-align: center;
}
.profileTabRight {
  float: left;
  width: 100%;
  height: 100%;
}
.rightAreaProfile {
  height: 100%;
  padding: 80px 0px 60px 0px;
  clear: both;
  overflow: hidden;
  border-left: 1px solid #e8e7e7;
}
.profileTabRight h3,
.bomTab h3 {
  font-family: "Montserrat", sans-serif;
  font-size: 26px;
  color: #000;
  text-align: center;
  margin-bottom: 50px;
}
p.naMeValuePair {
  font-family: "Montserrat", sans-serif;
  color: #2c2b2b;
  font-size: 14px;
  font-weight: 400;
  padding: 0 14px 0 15px;
  text-align: center;
  margin: 10px 0;
}
p.naMeValuePair span {
  /*display: block;
  padding: 10px;
  background: rgba(255, 255, 255, 0.6);
  margin-top: 7px;*/
  font-weight: 500;
}
.leftAreaProfile {
  height: 100%;
  padding: 80px 0;
}
.profileQNA {
  padding: 0px;
  float: left;
  margin: 0px 10px 20px 39px;
  width: 286px;
}
.profileQNA p.question {
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  color: #2c2b2b;
}
.profileQNA ul.answer {
  margin: 0 40px 0 0;
  padding: 0;
  width: 100%;
  background: #fff;
}
.profileQNA ul.answer li::before {
  content: "\2022";
  color: #eb6469;
  font-weight: bold;
  display: inline-block;
  width: 1em;
}
.profileQNA ul.answer li {
  width: auto;
  padding: 8px 0;
  padding-left: 7px;
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  color: #666666;
  font-weight: 400;
}
.reTakeQuizButton {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  color: #fff;
  height: 38px;
  background: #eb6469;
  font-weight: 400;
  border: none;
  width: 100%;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  line-height: 38px;
}
.reTakeQuizButton .fa {
  position: relative;
  left: -12px;
  font-size: 16px;
}
.cancelEditButton {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  color: #fff;
  height: 38px;
  background: #b2b1b1;
  font-weight: 400;
  border: none;
  width: 100%;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  line-height: 38px;
}
.cancelEditButton .fa {
  position: relative;
  left: -41px;
  font-size: 16px;
}

.profileQNA.center {
  display: table;
  margin: 0 auto;
  float: none;
}

.profileEdit {
  padding: 30px;
  display: table;
  margin: 0 auto;
}

.profileEditMainArea {
  height: 100%;
  padding: 80px 0px 60px 0px;
  clear: both;
  overflow: hidden;
  border-left: 1px solid #e8e7e7;
}
.reTakeQuizButton.green {
  background: #4a4949;
}

/* profile page */

/**
BOM Page
*/
.bom-item-cont {
  position: relative;
}
.bom-year {
  margin-bottom: 0.8rem;
  /* background: #eb6469; */
  padding: 5px;
  /* color: #fff; */
  font-family: "Montserrat", sans-serif;
  left: -10px;
  position: relative;
  width: 102%;
  border-bottom: 1px solid #eb6469;
}
.bom-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}

.bom-month {
  font-weight: bold;
  color: #eb6469;
}
.comments-section {
  height: 250px;
  overflow-y: scroll;
  margin-bottom: 10px;
}
.comments-list {
  list-style-type: none;
  display: inline;
}
.comment-list-item {
  padding: 5px;
  /* border-bottom: 1px solid; 
  text-indent: 10px;*/
  border-radius: 7px;
  margin: 5px 0;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-evenly;
}
.comment-list-item:nth-child(odd) {
  background: rgba(235, 100, 105, 0.4);
}
.comment-list-item:nth-child(even) {
  background: #f9f7f7;
}
.comment-list-item .comment-title {
  width: 80%;
}
.comment-list-item .comment-date {
  font-size: 14px;
}
.bom-comment-form {
  position: relative;
}
.bom-comment-form .bom-add-comment {
  width: 100%;
}

.bom-comment-form .bom-btn-add-comment {
  position: absolute;
  top: 3px;
  right: 0;
  background-color: #eb6469;
  border-color: #eb6469;
}

.bom-comment-form .bom-btn-add-comment:hover,
.bom-comment-form .bom-btn-add-comment:focus,
.bom-comment-form .bom-btn-add-comment:active {
  background-color: #eb6469 !important;
  border-color: #eb6469 !important;
}

.commonPlanAreaMain.commonPlanAreaMain2:hover i {
  visibility: visible;
  cursor: pointer;
}

.commonPlanAreaMain.commonPlanAreaMain2 p {
  text-align: center;
  font-size: 18px;
  margin: 34px 0 20px 0;
}
.commonPlanAreaMain.commonPlanAreaMain2 i {
  float: right;
  visibility: visible;
}
a.subscribeLink {
  text-align: center;
  background: #4a4949;
  display: table !important;
  margin: 0 auto;
  color: #fff;
}
a.subscribeLink:hover {
  color: #fff !important;
}
.mobileLevel {
  display: block;
  width: 100%;
}
.shippingDetails p {
  text-align: left !important;
}

.profileEdit input.form-control {
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
}

.shippingAddTab .profileEdit {
  padding: 0 30px;
  display: block;
  width: 80%;
}
.shippingAddTab .profileEdit .buttonArea {
  clear: both;
  overflow: hidden;
  padding: 0 16px;
}
.shippingAddTab .profileEdit .buttonArea .reTakeQuizButton {
  float: right;
  width: 170px;
}
.shippingAddTab .profileEdit .buttonArea .cancelButton {
  float: right;
  height: 38px;
  border-radius: 4px;
  background: grey;
  color: white;
  width: 105px;
}
.shippingAddTab .profileEdit input.form-control {
  margin-bottom: 15px;
}

.react-datepicker-popper {
  z-index: 9999;
}
